* {
  font-family: "Comfortaa", cursive;
}

body {
  background: radial-gradient(#ecf0f1, #abb7b7);
}
.sidebar {
  width: 300px;
  position: absolute;
}
.links {
  width: 40px;
  margin: 475px 0 0 30px;
}
.links a {
  display: block;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: black;
}
.canvas {
  overflow: visible;
}
circle {
  stroke: white;
  stroke-width: 5px;
  fill: #1d1d1d;
}
.root {
  font-size: 25px;
  fill: #1d1d1d;
}

.parent {
  font-size: 12px;
  width: 200px;
  padding: 30px;
  fill: black;
}

.blurb {
  font-size: 15px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 2px;
  border: 0px;
  margin-top: 70px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid rgba(0, 0, 0, 0.8);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
